<div class="container">
  <!-- Add Note -->
  <div *ngIf="appState === 'addNote'">
    <app-add-note [(appState)]="appState" [(allNote)]="allNote"></app-add-note>
  </div>

  <!-- View Note -->
  <div *ngIf="appState === 'viewNote'">
    <app-view-note [(appState)]="appState" [(allNote)]="allNote" [(editNote)]="editNote"></app-view-note>
  </div>

  <!-- Edit Note -->
  <div *ngIf="appState === 'editNote'">
    <app-edit-note [(appState)]="appState" [(allNote)]="allNote" [(editNote)]="editNote"></app-edit-note>
  </div>
</div>